In [15]:
import pandas as pd
import pprint
import numpy as np
from collections import defaultdict

### Quick look at the data

I am filtering out rows where the occupation code hasn't been recorded. Does this affect our results?

In [16]:
non_compliance_data = pd.read_csv('./data/afsa/non-compliance-in-personal-insolvencies.csv')
display(non_compliance_data.shape)
#non_compliance_data = non_compliance_data[non_compliance_data['Debtor Occupation Code (ANZSCO)'].notnull()]
display(non_compliance_data.shape)
non_compliance_data.isnull().sum()

/home/mahasen/anaconda3/envs/gh2018/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (17,18,19,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(356500, 23)

(356500, 23)

Unique ID                                0
Calendar Year of Insolvency              0
SA3 of Debtor                            0
SA3 Code of Debtor                       0
GCCSA of Debtor                          0
GCCSA Code of Debtor                     0
State of Debtor                          0
Sex of Debtor                            0
Family Situation                         0
Debtor Occupation Code (ANZSCO)      15886
Debtor Occupation Name (ANZSCO)      15886
Main Cause of Insolvency                 0
Business Related Insolvency              0
Debtor Income                            0
Primary Income Source                    0
Unsecured Debts                          0
Value of Assets                          0
Type of Party                       341629
Non-Compliance Type                 341608
Result of Non-Compliance            342306
Number of Instances                 341608
Outcome of Non-Compliance           345672
Non-Compliance Conviction Result    352942
dtype: int64

In [34]:
non_compliance_data

,Unique ID,Calendar Year of Insolvency,SA3 of Debtor,SA3 Code of Debtor,GCCSA of Debtor,GCCSA Code of Debtor,State of Debtor,Sex of Debtor,Family Situation,Debtor Occupation Code (ANZSCO),...,Primary Income Source,Unsecured Debts,Value of Assets,Type of Party,Non-Compliance Type,Result of Non-Compliance,Number of Instances,Outcome of Non-Compliance,Non-Compliance Conviction Result,Debtor Occupation Code (Major) (ANZSCO)
0,3452750,2010,South Canberra,80106,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Single with Dependants,39.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
1,3563908,2011,Weston Creek,80108,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple without Dependants,84.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,8.0
2,3252673,2012,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Single with Dependants,11.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,3610744,2013,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple with Dependants,99.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,9.0
4,3610734,2013,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple with Dependants,22.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,2.0
5,3631198,2014,Gungahlin,80104,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Single without Dependants,36.0,...,Gross Wages and Salary,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
6,3648556,2015,Weston Creek,80108,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple without Dependants,59.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
7,3019574,2016,North Canberra,80105,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Single without Dependants,43.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,4.0
8,3217157,2017,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple with Dependants,14.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9,3389604,2018,South Canberra,80106,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Single without Dependants,45.0,...,Self Employment,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,4.0
10,3594478,2008,Woden Valley,80109,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple with Dependants,33.0,...,Unknown,$500000-$549999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
11,3836442,2009,Young - Yass,10106,Rest of NSW,1RNSW,New South Wales,Male,Single without Dependants,NaN,...,Unknown,$600000-$649999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,10.0
12,3538100,2010,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple without Dependants,14.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,1.0
13,3420999,2011,North Canberra,80105,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Single without Dependants,89.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,8.0
14,3278737,2012,Belconnen,80101,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple without Dependants,73.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,7.0
15,3611018,2013,Woden Valley,80109,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple with Dependants,55.0,...,Gross Wages and Salary,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
16,3632862,2014,South Canberra,80106,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple without Dependants,59.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
17,3649073,2015,Belconnen,80101,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple with Dependants,39.0,...,Gross Wages and Salary,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
18,3027492,2016,Gungahlin,80104,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Single without Dependants,22.0,...,Government benefits/Pensions,$100000-$149999,$300000-$349999,NaN,NaN,NaN,NaN,NaN,NaN,2.0
19,3852575,2017,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple without Dependants,35.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
20,3999252,2018,Molonglo,80110,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple without Dependants,99.0,...,Government benefits/Pensions,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,9.0
21,3553437,2008,Tumut - Tumbarumba,11302,Rest of NSW,1RNSW,New South Wales,Male,Couple without Dependants,33.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
22,3841382,2009,Wagga Wagga,11303,Rest of NSW,1RNSW,New South Wales,Male,Couple without Dependants,NaN,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,10.0
23,3257188,2010,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple without Dependants,33.0,...,Business earnings,$200000-$249999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
24,3257207,2010,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple without Dependants,22.0,...,Gross Wages and Salary,$200000-$249999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,2.0
25,3552466,2011,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple with Dependants,33.0,...,Self Employment,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
26,3222793,2012,Gungahlin,80104,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple with Dependants,44.0,...,Gross Wages and Salary,$450000-$499999,$0-$49999,Registered Trustee,Offence Referral,None,0.0,$0,NaN,4.0
27,3619589,2013,Gungahlin,80104,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple with Dependants,35.0,...,Unknown,$350000-$399999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
28,3640173,2014,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Single without Dependants,36.0,...,Gross Wages and Salary,$150000-$199999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
29,4119317,2015,Canberra East,80103,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Single without Dependants,85.0,...,Gross Wages and Salary,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356470,3885188,2008,Ipswich Inner,31003,Greater Brisbane,3GBRI,Queensland,Female,Couple with Dependants,54.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356471,3982518,2008,Mount Druitt,11603,Greater Sydney,1GSYD,New South Wales,Female,Single without Dependants,54.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356472,3880226,2008,Onkaparinga,40304,Greater Adelaide,4GADE,South Australia,Female,Couple with Dependants,54.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356473,3938100,2008,Brimbank,21301,Greater Melbourne,2GMEL,Victoria,Male,Couple with Dependants,62.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,6.0
356474,3893071,2008,Holland Park - Yeronga,30302,Greater Brisbane,3GBRI,Queensland,Female,Single without Dependants,53.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356475,3968869,2008,Coolangatta,30902,Rest of Qld,3RQLD,Queensland,Male,Single without Dependants,63.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,6.0
356476,3911267,2008,Wanneroo,50503,Greater Perth,5GPER,Western Australia,Female,Single with Dependants,42.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,4.0
356477,3897589,2008,Ipswich Inner,31003,Greater Brisbane,3GBRI,Queensland,Male,Single without Dependants,36.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
356478,3917462,2008,Launceston,60201,Rest of Tas.,6RTAS,Tasmania,Male,Single without Dependants,32.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
356479,3914731,2008,Gippsland - South West,20503,Rest of Vic.,2RVIC,Victoria,Male,Single without Dependants,53.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356480,3900742,2008,Rockingham,50705,Greater Perth,5GPER,Western Australia,Female,Single with Dependants,39.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
356481,3900312,2008,Springfield - Redbank,31004,Greater Brisbane,3GBRI,Queensland,Female,Couple with Dependants,99.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,9.0
356482,3983924,2008,Gosford,10201,Greater Sydney,1GSYD,New South Wales,Male,Single without Dependants,84.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,8.0
356483,3906829,2008,Springfield - Redbank,31004,Greater Brisbane,3GBRI,Queensland,Male,Couple with Dependants,33.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
356484,3966091,2008,Fairfield,12702,Greater Sydney,1GSYD,New South Wales,Female,Single with Dependants,51.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356485,3868785,2008,Upper Hunter,10604,Rest of NSW,1RNSW,New South Wales,Female,Couple without Dependants,62.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,6.0
356486,3948658,2008,Dandenong,21204,Greater Melbourne,2GMEL,Victoria,Female,Single without Dependants,52.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356487,3868317,2008,Whitsunday,31203,Rest of Qld,3RQLD,Queensland,Male,Single without Dependants,85.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,8.0
356488,3880571,2008,Warringah,12203,Greater Sydney,1GSYD,New South Wales,Male,Single without Dependants,14.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,1.0
356489,3983526,2008,Liverpool,12703,Greater Sydney,1GSYD,New South Wales,Male,Couple without Dependants,73.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,7.0
356490,3981031,2008,Hornsby,12102,Greater Sydney,1GSYD,New South Wales,Male,Couple with Dependants,56.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356491,3951881,2008,Springfield - Redbank,31004,Greater Brisbane,3GBRI,Queensland,Female,Single without Dependants,22.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,2.0
356492,3957413,2008,Bayswater - Bassendean,50401,Greater Perth,5GPER,Western Australia,Male,Single without Dependants,31.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
356493,3944657,2008,Warrnambool,21704,Rest of Vic.,2RVIC,Victoria,Female,Single without Dependants,43.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,4.0
356494,3872032,2008,Brisbane Inner - East,30502,Greater Brisbane,3GBRI,Queensland,Male,Single without Dependants,89.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,8.0
356495,3950029,2008,Creswick - Daylesford - Ballan,20102,Rest of Vic.,2RVIC,Victoria,Female,Single without Dependants,25.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,2.0
356496,3873822,2008,Cairns - South,30602,Rest of Qld,3RQLD,Queensland,Female,Single with Dependants,42.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,4.0
356497,3867041,2008,Mount Druitt,11603,Greater Sydney,1GSYD,New South Wales,Male,Single without Dependants,56.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356498,3962232,2008,Brisbane Inner - North,30503,Greater Brisbane,3GBRI,Queensland,Male,Single with Dependants,59.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
356499,3988903,2008,Toowoomba,31701,Rest of Qld,3RQLD,Queensland,Male,Single without Dependants,62.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,6.0

### 1. Find all unique family situations in non-compliance-in-personal-insolvencies.csv

In [17]:
display(non_compliance_data['Family Situation'].unique())
family_situations = ['Single with Dependants', 'Couple without Dependants',
       'Couple with Dependants', 'Single without Dependants']

array(['Single with Dependants', 'Couple without Dependants',
       'Couple with Dependants', 'Single without Dependants', 'Unknown',
       'Not Stated'], dtype=object)

### 2. Express each such family situation in terms of the columns in B25 / G25

In [18]:
g25 = pd.read_csv('./data/census/gcpsa3/2016 Census GCP Statistical Area 3 for AUST/2016Census_G25_AUS_SA3.csv')
g25.head(5)

,SA3_CODE_2016,CF_no_children_F,CF_no_children_P,CF_ChU15_a_DSs_a_NdCh_F,CF_ChU15_a_DSs_a_NdCh_P,CF_ChU15_a_DSs_a_no_NdCh_F,CF_ChU15_a_DSs_a_no_NdCh_P,CF_ChU15_a_no_DSs_a_NdCh_F,CF_ChU15_a_no_DSs_a_NdCh_P,CF_ChU15_a_no_DSs_a_no_NdCh_F,...,OPF_no_ChU15_no_DSs_a_NdCh_F,OPF_no_ChU15_no_DSs_a_NdCh_P,OPF_no_ChU15_a_Total_F,OPF_no_ChU15_a_Total_P,OPF_Total_F,OPF_Total_P,Other_family_F,Other_family_P,Total_F,Total_P
0,10102,5577,10999,105,573,762,3495,185,844,3963,...,722,1562,994,2231,2072,5214,180,370,15092,44276
1,10103,2220,4334,29,151,180,803,34,157,1057,...,259,547,355,752,682,1712,52,103,4808,13190
2,10104,10377,20461,95,535,566,2675,204,922,2988,...,1026,2105,1387,2936,2929,7522,195,399,19216,50111
3,10105,3922,7788,70,397,345,1603,137,650,1861,...,554,1167,733,1565,1551,4039,129,263,9184,25950
4,10106,4093,8081,83,441,450,2102,126,575,2160,...,448,927,608,1317,1350,3588,118,240,9571,27619

In [19]:
persons_columns = list(filter(lambda e: e.endswith('_P'), g25.columns))
display(persons_columns)
display(len(persons_columns))

['CF_no_children_P',
 'CF_ChU15_a_DSs_a_NdCh_P',
 'CF_ChU15_a_DSs_a_no_NdCh_P',
 'CF_ChU15_a_no_DSs_a_NdCh_P',
 'CF_ChU15_a_no_DSs_a_no_NdCh_P',
 'CF_ChU15_a_Total_P',
 'CF_no_ChU15_a_DSs_a_NdCh_P',
 'CF_no_ChU15_a_DSs_a_no_NdCh_P',
 'CF_no_ChU15_a_no_DSs_a_NdCh_P',
 'CF_no_ChU15_a_Total_P',
 'CF_Total_P',
 'OPF_ChU15_a_DSs_a_NdCh_P',
 'OPF_ChU15_a_DSs_a_no_NdCh_P',
 'OPF_ChU15_a_no_DSs_a_NdCh_P',
 'OPF_ChU15_a_no_DSs_no_NdCh_P',
 'OPF_ChU15_a_Total_P',
 'OPF_no_ChU15_a_DSs_a_NdCh_P',
 'OPF_no_ChU15_a_DSs_no_NdCh_P',
 'OPF_no_ChU15_no_DSs_a_NdCh_P',
 'OPF_no_ChU15_a_Total_P',
 'OPF_Total_P',
 'Other_family_P',
 'Total_P']

23

In [23]:
a = ['CF_no_children_P', 'Couple without Dependants',
 'CF_ChU15_a_DSs_a_NdCh_P', 'Couple with Dependants',
 'CF_ChU15_a_DSs_a_no_NdCh_P', 'Couple with Dependants',
 'CF_ChU15_a_no_DSs_a_NdCh_P', 'Couple with Dependants',
 'CF_ChU15_a_no_DSs_a_no_NdCh_P', 'Couple with Dependants',
 #'CF_ChU15_a_Total_P',
 'CF_no_ChU15_a_DSs_a_NdCh_P', 'Couple with Dependants',
 'CF_no_ChU15_a_DSs_a_no_NdCh_P', 'Couple with Dependants',
 'CF_no_ChU15_a_no_DSs_a_NdCh_P', 'Couple without Dependants', 
 #'CF_no_ChU15_a_Total_P',
 #'CF_Total_P',
 'OPF_ChU15_a_DSs_a_NdCh_P', 'Single with Dependants',
 'OPF_ChU15_a_DSs_a_no_NdCh_P', 'Single with Dependants',
 'OPF_ChU15_a_no_DSs_a_NdCh_P', 'Single with Dependants',
 'OPF_ChU15_a_no_DSs_no_NdCh_P', 'Single with Dependants',
 #'OPF_ChU15_a_Total_P',
 'OPF_no_ChU15_a_DSs_a_NdCh_P', 'Single with Dependants',
 'OPF_no_ChU15_a_DSs_no_NdCh_P', 'Single with Dependants',
 'OPF_no_ChU15_no_DSs_a_NdCh_P', 'Single without Dependants',
 #'OPF_no_ChU15_a_Total_P',
 #'OPF_Total_P',
 #'Other_family_P',
#'Total_P'
    ]

In [24]:
b25_to_insolvencies = dict(zip(a[::2], a[1::2]))

insolvencies_to_b25 = defaultdict(list)
for a,b in (zip(a[1::2], a[::2])):
    insolvencies_to_b25[a].append(b)
#insolvencies_to_b25 = dict(zip(a[1::2], a[::2]))
display(b25_to_insolvencies)
display(insolvencies_to_b25)

{'CF_no_children_P': 'Couple without Dependants',
 'CF_ChU15_a_DSs_a_NdCh_P': 'Couple with Dependants',
 'CF_ChU15_a_DSs_a_no_NdCh_P': 'Couple with Dependants',
 'CF_ChU15_a_no_DSs_a_NdCh_P': 'Couple with Dependants',
 'CF_ChU15_a_no_DSs_a_no_NdCh_P': 'Couple with Dependants',
 'CF_no_ChU15_a_DSs_a_NdCh_P': 'Couple with Dependants',
 'CF_no_ChU15_a_DSs_a_no_NdCh_P': 'Couple with Dependants',
 'CF_no_ChU15_a_no_DSs_a_NdCh_P': 'Couple without Dependants',
 'OPF_ChU15_a_DSs_a_NdCh_P': 'Single with Dependants',
 'OPF_ChU15_a_DSs_a_no_NdCh_P': 'Single with Dependants',
 'OPF_ChU15_a_no_DSs_a_NdCh_P': 'Single with Dependants',
 'OPF_ChU15_a_no_DSs_no_NdCh_P': 'Single with Dependants',
 'OPF_no_ChU15_a_DSs_a_NdCh_P': 'Single with Dependants',
 'OPF_no_ChU15_a_DSs_no_NdCh_P': 'Single with Dependants',
 'OPF_no_ChU15_no_DSs_a_NdCh_P': 'Single without Dependants'}

defaultdict(list,
            {'Couple without Dependants': ['CF_no_children_P',
              'CF_no_ChU15_a_no_DSs_a_NdCh_P'],
             'Couple with Dependants': ['CF_ChU15_a_DSs_a_NdCh_P',
              'CF_ChU15_a_DSs_a_no_NdCh_P',
              'CF_ChU15_a_no_DSs_a_NdCh_P',
              'CF_ChU15_a_no_DSs_a_no_NdCh_P',
              'CF_no_ChU15_a_DSs_a_NdCh_P',
              'CF_no_ChU15_a_DSs_a_no_NdCh_P'],
             'Single with Dependants': ['OPF_ChU15_a_DSs_a_NdCh_P',
              'OPF_ChU15_a_DSs_a_no_NdCh_P',
              'OPF_ChU15_a_no_DSs_a_NdCh_P',
              'OPF_ChU15_a_no_DSs_no_NdCh_P',
              'OPF_no_ChU15_a_DSs_a_NdCh_P',
              'OPF_no_ChU15_a_DSs_no_NdCh_P'],
             'Single without Dependants': ['OPF_no_ChU15_no_DSs_a_NdCh_P']})

You can extract the data like this:

In [25]:
x = g25.loc[0]
#display(x)
x[['CF_no_children_P', 'CF_ChU15_a_DSs_a_NdCh_P']]
x[insolvencies_to_b25['Couple without Dependants']].sum()
# Apparently you can do this with .groupby

14915

### 3. Produce a new version of B25 whose columns are the family situations found in (1)

In [26]:
new_columns = ['SA3_CODE_2016', *family_situations]
def g25_to_insolvencies(row):
    data = [row['SA3_CODE_2016']]
    data.extend([row[insolvencies_to_b25[x]].sum() for x in family_situations])
    return data

yes_finally_why_was_this_so_hard = g25.apply(g25_to_insolvencies, axis=1, result_type='expand')
yes_finally_why_was_this_so_hard.columns = new_columns
display(yes_finally_why_was_this_so_hard.head(5))
yes_finally_why_was_this_so_hard.to_csv('./data/preprocess/b25_but_with_less_family_situation_granularity.csv', index=False)

,SA3_CODE_2016,Single with Dependants,Couple without Dependants,Couple with Dependants,Single without Dependants
0,10102,3658,14915,23770,1562
1,10103,1164,5292,6082,547
2,10104,5422,24122,18069,2105
3,10105,2863,10250,11383,1167
4,10106,2660,10354,13446,927

### Add sub-major group column to non-compliance data

In [27]:
non_compliance_data['Debtor Occupation Code (Major) (ANZSCO)'] = non_compliance_data['Debtor Occupation Code (ANZSCO)'].apply(lambda e: np.nan if np.isnan(e) else int(str(e)[0])).fillna(10.0)
non_compliance_data.to_csv('./data/preprocess/non-compliance-major-group.csv', index=False)
non_compliance_data.head(10)

,Unique ID,Calendar Year of Insolvency,SA3 of Debtor,SA3 Code of Debtor,GCCSA of Debtor,GCCSA Code of Debtor,State of Debtor,Sex of Debtor,Family Situation,Debtor Occupation Code (ANZSCO),...,Primary Income Source,Unsecured Debts,Value of Assets,Type of Party,Non-Compliance Type,Result of Non-Compliance,Number of Instances,Outcome of Non-Compliance,Non-Compliance Conviction Result,Debtor Occupation Code (Major) (ANZSCO)
0,3452750,2010,South Canberra,80106,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Single with Dependants,39.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
1,3563908,2011,Weston Creek,80108,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple without Dependants,84.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,8.0
2,3252673,2012,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Single with Dependants,11.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,3610744,2013,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple with Dependants,99.0,...,Unknown,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,9.0
4,3610734,2013,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Couple with Dependants,22.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,2.0
5,3631198,2014,Gungahlin,80104,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Single without Dependants,36.0,...,Gross Wages and Salary,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,3.0
6,3648556,2015,Weston Creek,80108,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple without Dependants,59.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,5.0
7,3019574,2016,North Canberra,80105,Australian Capital Territory,8ACTE,Australian Capital Territory,Male,Single without Dependants,43.0,...,Gross Wages and Salary,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,4.0
8,3217157,2017,Tuggeranong,80107,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Couple with Dependants,14.0,...,Government benefits/Pensions,$0-$49999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,1.0
9,3389604,2018,South Canberra,80106,Australian Capital Territory,8ACTE,Australian Capital Territory,Female,Single without Dependants,45.0,...,Self Employment,$50000-$99999,$0-$49999,NaN,NaN,NaN,NaN,NaN,NaN,4.0

### Pull in G57A Occupation

In [11]:
g57 = pd.read_csv('./data/census/gcpsa3/2016 Census GCP Statistical Area 3 for AUST/2016Census_G57A_AUS_SA3.csv')
#display(g57.head(10))
#g57.columns.format()

keys_of_interest = [
    'SA3_CODE_2016',
 'M_Tot_Managers',
 'M_Tot_Professionals',
 'M_Tot_TechnicTrades_W',
 'M_Tot_CommunPersnlSvc_W',
 'M_Tot_ClericalAdminis_W',
 'M_Tot_Sales_W',
 'M_Tot_Mach_oper_drivers',
 'M_Tot_Labourers',
 'M_Tot_Occu_ID_NS',
 'M_Tot_Tot',
 'F_Tot_Managers',
 'F_Tot_Professionals',
 'F_Tot_TechnicTrades_W',
 'F_Tot_CommunPersnlSvc_W',
 'F_Tot_ClericalAdminis_W',
 'F_Tot_Sales_W',
 'F_Tot_Mach_oper_drivers',
 'F_Tot_Labourers',
 'F_Tot_Occu_ID_NS',
 'F_Tot_Tot',]

In [33]:
g57_interest = g57[keys_of_interest]
import itertools
cols = ['SA3_CODE_2016']
for n in map(float,range(1,10)):
    cols.append("M_{}".format(np.int(n)))
cols.append("M_Tot_Tot")
for n in map(float,range(1,10)):
    cols.append("F_{}".format(np.int(n)))
cols.append("F_Tot_Tot")
g57_interest.columns =  cols
g57_interest.head(10)

,SA3_CODE_2016,M_1,M_2,M_3,M_4,M_5,M_6,M_7,M_8,M_9,...,F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,F_9,F_Tot_Tot
0,10102,2900,2586,3454,1112,1370,954,1307,1533,361,...,1964,3382,592,1973,4102,1396,86,631,317,14451
1,10103,1115,475,1118,377,172,341,563,723,107,...,660,802,199,778,892,556,58,422,66,4441
2,10104,2045,1526,3388,913,528,1052,1362,2145,255,...,1341,2655,735,2416,2524,1884,110,1142,177,12977
3,10105,1459,757,1851,786,340,540,1112,1170,157,...,765,1432,346,1462,1471,875,125,644,105,7231
4,10106,2081,966,1819,410,436,478,834,1285,174,...,1222,1705,370,1224,1678,784,64,620,124,7789
5,10201,5834,7132,9121,2767,2351,2858,2999,4540,753,...,3305,9241,1642,6079,8204,4593,377,2162,498,36102
6,10202,3991,3504,9245,2335,1693,2504,4482,5305,668,...,2515,6025,1580,6131,6840,4899,499,2446,468,31413
7,10301,1654,1300,2481,887,437,664,1375,1459,211,...,934,2399,466,1764,1973,1273,102,885,138,9942
8,10302,3203,895,2551,446,335,686,1748,1829,260,...,1504,2088,483,1748,1921,1205,161,959,169,10230
9,10303,1429,750,2596,475,309,482,2094,1310,179,...,863,1531,484,1521,1741,1087,131,874,114,8339

# Bayesian predictor
Let's build two predictors:
- one using B25 for priors and non-compliance for posteriors (SA3 and Family Situation)
- one usng G57A for priors and non-compliance for posteriors (SA3, Sex, Major ANZSCO Occupation Code)

We then need to find a way to combine these predictors to give a single number. Adding in quadrature after normalising by the non-compliant marginal probability seems relatively safe.

Then let's calculate the average expected risk of non-compliance (i.e. the marginal risk of non-compliance), and express every prediction in units of this quantity (i.e. person X is 2.5x more likely to be non-compliant than average)

In [74]:
b25 = yes_finally_why_was_this_so_hard.set_index('SA3_CODE_2016')
g57a = g57_interest.set_index('SA3_CODE_2016')
non_comp = non_compliance_data[['SA3 Code of Debtor','Sex of Debtor','Family Situation','Debtor Occupation Code (Major) (ANZSCO)']]

In [76]:
# make list of SA3 codes
SA3_CODE_2016_list = list(set(non_comp['SA3 Code of Debtor'].values).union(set(b25.index.values)).union(set(g57a.index.values)))
family_situations

['Single with Dependants',
 'Couple without Dependants',
 'Couple with Dependants',
 'Single without Dependants']

In [128]:
# Make dict for non_comp priors for b25
b25_marginal = {} # marginal probability of being both in a particular SA3 and FS
b25_prior = {}    # probability of being in a particular SA3 and FS given non-compliance
b25_posterior = {}# probability of being non-compliant given someone in a particular SA3 and FS

b25_total_pop = b25.values.sum()
non_comp_pop = len(non_comp)
non_comp_marginal = np.divide(non_comp_pop,b25_total_pop) # i.e.  marginal probability of non-compliance. Note that this depends on b25!
for sa3 in SA3_CODE_2016_list:
    for fs in family_situations:
        # Calculate marginal distribution
        if sa3 in b25.index.values:
            b25_marginal[(sa3,fs)] = np.divide(b25[fs][sa3],b25_total_pop) # i.e. the probability of being both in a particular SA3 and FS
        else:
            b25_marginal[(sa3,fs)] = 0
        
        # Calculate prior
        b25_prior[(sa3,fs)] = np.divide(len(non_comp[(non_comp['SA3 Code of Debtor']==sa3) & (non_comp['Family Situation'] == fs)]),non_comp_pop)
        
        # Calculate posterior
        if b25_marginal[(sa3,fs)]>0:
            b25_posterior[(sa3,fs)] = b25_prior[(sa3,fs)] * non_comp_marginal / b25_marginal[(sa3,fs)]
        else:
            b25_posterior[(sa3,fs)] = 0

In [134]:
# Make dict for non_comp priors for b25
g57a_marginal = {} # marginal probability of being in a particular SA3, in a particular Major ANZSCOS group, with a particular gender
g57a_prior = {}    # probability of (SA3,Sex,ANZCOS major group) given non-compliance
g57a_posterior = {} # probability of being non-compliant given someone with (SA3,Sex,ANZCOS major group)

g57a_total_pop = g57a[['M_Tot_Tot','F_Tot_Tot']].values.sum()
non_comp_pop = len(non_comp)
non_comp_marginal_g57a = np.divide(non_comp_pop,g57a_total_pop) # i.e.  marginal probability of non-compliance. Note that this depends on g57a!
for sa3 in SA3_CODE_2016_list:
    for sex in ['Male','Female']:
        for major_group in range(1,10):
            # Calculate marginal distribution
            if sa3 in g57a.index.values:
                g57a_marginal[(sa3,sex,major_group)] = np.divide(g57a['%s_%d'%(sex[0],major_group)][sa3],g57a_total_pop)
            else:
                g57a_marginal[(sa3,sex,major_group)] = 0
        
            # Calculate prior
            g57a_prior[(sa3,sex,major_group)] = np.divide(len(non_comp[(non_comp['SA3 Code of Debtor']==sa3) & (non_comp['Sex of Debtor'] == sex) & (non_comp['Debtor Occupation Code (Major) (ANZSCO)']==major_group)]),non_comp_pop)
            
            # Calculate posterior
            if g57a_marginal[(sa3,sex,major_group)] > 0:
                g57a_posterior[(sa3,sex,major_group)] = g57a_prior[(sa3,sex,major_group)] * non_comp_marginal_g57a / g57a_marginal[(sa3,sex,major_group)]
            else:
                g57a_posterior[(sa3,sex,major_group)] = 0

In [135]:
# Let's save everything
import pickle
with open("bayesian_models.pickle", "wb") as file:
    pickle.dump( {'b25_marginal':b25_marginal,
                  'b25_prior':b25_prior,
                  'b25_posterior':b25_posterior,
                  'non_comp_marginal':non_comp_marginal,
                  'b25_total_pop':b25_total_pop,
                  'g57a_marginal':g57a_marginal,
                  'g57a_prior':g57a_prior,
                  'g57a_posterior':g57a_posterior,
                  'g57a_total_pop':g57a_total_pop,
                  'non_comp_marginal_g57a':non_comp_marginal_g57a,
                  'non_comp_pop':non_comp_pop,
                  'b25':b25,
                  'g57a':g57a, 
                  'non_comp':non_comp}, file)

In [ ]:
def calculate_risk(sa3,sex,major_group,family_situation):
        risk_factor_b25 = b25_posterior[(sa3,family_situation)]/non_comp_marginal
        risk_factor_g57a= g57a_posterior[(sa3,sex,major_group)]/non_comp_marginal_g57a
        
        return sqrt(risk_factor_b25)

In [136]:
23***4

4

In [108]:
b25_posterior[(10102,'Single with Dependants')]/non_comp_marginal

1.5033139423515636

In [ ]:
non_comp[non_comp['Debtor Occupation Code (Major) (ANZSCO)']==3]

In [121]:
tmp = 'Male'

In [123]:
non_comp

,SA3 Code of Debtor,Sex of Debtor,Family Situation,Debtor Occupation Code (Major) (ANZSCO)
0,80106,Female,Single with Dependants,3.0
1,80108,Male,Couple without Dependants,8.0
2,80107,Female,Single with Dependants,1.0
3,80107,Female,Couple with Dependants,9.0
4,80107,Male,Couple with Dependants,2.0
5,80104,Male,Single without Dependants,3.0
6,80108,Female,Couple without Dependants,5.0
7,80105,Male,Single without Dependants,4.0
8,80107,Female,Couple with Dependants,1.0
9,80106,Female,Single without Dependants,4.0
10,80109,Male,Couple with Dependants,3.0
11,10106,Male,Single without Dependants,10.0
12,80107,Male,Couple without Dependants,1.0
13,80105,Male,Single without Dependants,8.0
14,80101,Male,Couple without Dependants,7.0
15,80109,Male,Couple with Dependants,5.0
16,80106,Female,Couple without Dependants,5.0
17,80101,Male,Couple with Dependants,3.0
18,80104,Male,Single without Dependants,2.0
19,80107,Male,Couple without Dependants,3.0
20,80110,Male,Couple without Dependants,9.0
21,11302,Male,Couple without Dependants,3.0
22,11303,Male,Couple without Dependants,10.0
23,80107,Male,Couple without Dependants,3.0
24,80107,Female,Couple without Dependants,2.0
25,80107,Male,Couple with Dependants,3.0
26,80104,Male,Couple with Dependants,4.0
27,80104,Female,Couple with Dependants,3.0
28,80107,Male,Single without Dependants,3.0
29,80103,Female,Single without Dependants,8.0
...,...,...,...,...
356470,31003,Female,Couple with Dependants,5.0
356471,11603,Female,Single without Dependants,5.0
356472,40304,Female,Couple with Dependants,5.0
356473,21301,Male,Couple with Dependants,6.0
356474,30302,Female,Single without Dependants,5.0
356475,30902,Male,Single without Dependants,6.0
356476,50503,Female,Single with Dependants,4.0
356477,31003,Male,Single without Dependants,3.0
356478,60201,Male,Single without Dependants,3.0
356479,20503,Male,Single without Dependants,5.0
356480,50705,Female,Single with Dependants,3.0
356481,31004,Female,Couple with Dependants,9.0
356482,10201,Male,Single without Dependants,8.0
356483,31004,Male,Couple with Dependants,3.0
356484,12702,Female,Single with Dependants,5.0
356485,10604,Female,Couple without Dependants,6.0
356486,21204,Female,Single without Dependants,5.0
356487,31203,Male,Single without Dependants,8.0
356488,12203,Male,Single without Dependants,1.0
356489,12703,Male,Couple without Dependants,7.0
356490,12102,Male,Couple with Dependants,5.0
356491,31004,Female,Single without Dependants,2.0
356492,50401,Male,Single without Dependants,3.0
356493,21704,Female,Single without Dependants,4.0
356494,30502,Male,Single without Dependants,8.0
356495,20102,Female,Single without Dependants,2.0
356496,30602,Female,Single with Dependants,4.0
356497,11603,Male,Single without Dependants,5.0
356498,30503,Male,Single with Dependants,5.0
356499,31701,Male,Single without Dependants,6.0

In [109]:
g57a

,M_1,M_2,M_3,M_4,M_5,M_6,M_7,M_8,M_9,M_Tot_Tot,F_1,F_2,F_3,F_4,F_5,F_6,F_7,F_8,F_9,F_Tot_Tot
SA3_CODE_2016,,,,,,,,,,,,,,,,,,,,
10102,2900,2586,3454,1112,1370,954,1307,1533,361,15574,1964,3382,592,1973,4102,1396,86,631,317,14451
10103,1115,475,1118,377,172,341,563,723,107,4993,660,802,199,778,892,556,58,422,66,4441
10104,2045,1526,3388,913,528,1052,1362,2145,255,13213,1341,2655,735,2416,2524,1884,110,1142,177,12977
10105,1459,757,1851,786,340,540,1112,1170,157,8182,765,1432,346,1462,1471,875,125,644,105,7231
10106,2081,966,1819,410,436,478,834,1285,174,8485,1222,1705,370,1224,1678,784,64,620,124,7789
10201,5834,7132,9121,2767,2351,2858,2999,4540,753,38355,3305,9241,1642,6079,8204,4593,377,2162,498,36102
10202,3991,3504,9245,2335,1693,2504,4482,5305,668,33731,2515,6025,1580,6131,6840,4899,499,2446,468,31413
10301,1654,1300,2481,887,437,664,1375,1459,211,10467,934,2399,466,1764,1973,1273,102,885,138,9942
10302,3203,895,2551,446,335,686,1748,1829,260,11957,1504,2088,483,1748,1921,1205,161,959,169,10230
10303,1429,750,2596,475,309,482,2094,1310,179,9621,863,1531,484,1521,1741,1087,131,874,114,8339
10304,2260,1866,3154,706,590,863,1738,1849,216,13245,1225,3178,592,2069,2697,1420,147,961,184,12481
10401,1262,999,2045,723,408,606,1225,1514,174,8961,736,1688,442,1691,1717,1273,65,716,120,8458
10402,2619,2523,3967,1183,836,1339,1777,2846,342,17426,1659,4088,733,3086,3544,2259,133,1497,243,17236
10501,1395,360,939,289,118,137,856,746,117,4955,722,822,179,830,749,354,90,414,87,4250
10502,599,390,891,336,161,259,725,572,105,4044,428,812,170,818,636,465,35,372,55,3792
10503,3219,1544,3448,946,657,1136,1789,2237,290,15272,1600,3337,600,2712,2880,1737,146,1184,198,14394
10601,2331,1546,5567,1123,598,937,4518,2673,381,19668,1441,2773,959,2990,3495,2411,566,1885,214,16740
10602,2035,2132,4970,965,769,1131,2968,2202,317,17481,1209,3554,837,2775,3695,2282,287,1271,176,16090
10603,1896,1656,4276,962,650,881,2082,2002,306,14718,1123,2362,667,2602,2942,2027,194,1151,167,13231
10604,1075,463,2018,220,147,270,1740,1096,130,7160,608,1023,389,873,1134,713,285,774,72,5875
10701,1614,1933,4536,1026,924,1033,2485,2317,283,16154,1032,2914,703,2771,3438,2092,132,1180,209,14469
10702,0,0,0,0,0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0
10703,2545,2581,5719,1425,924,1295,2954,2573,380,20387,1486,4064,892,3600,4203,2760,197,1236,232,18676
10704,4122,6916,6658,2432,1687,1792,2690,2974,515,29790,2472,8721,1158,4693,5949,3025,155,1310,360,27851
10801,780,545,1282,328,168,441,568,849,125,5078,439,1018,291,963,938,810,34,449,79,5016
10802,1128,795,1850,649,275,500,1013,1559,200,7987,740,1565,383,1642,1437,1014,80,716,136,7716
10803,25,6,28,9,3,10,8,22,9,117,22,8,5,20,17,4,0,17,6,106
10804,2074,2349,3642,1081,715,1188,1530,1988,270,14839,1268,3483,729,2735,3199,2049,94,1096,166,14818
10805,1414,1097,2157,549,361,776,1207,1676,167,9406,859,1970,410,1766,1671,1335,81,855,122,9071
10901,2288,1989,3387,851,677,1049,1735,1793,255,14020,1264,3119,614,2404,2845,1794,149,1069,148,13408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69999,13,25,33,15,5,3,22,37,3,152,3,25,0,20,17,9,0,10,0,98
70101,1565,1810,2077,817,546,403,422,719,169,8525,968,1900,313,964,1460,561,61,365,88,6685
70102,1784,2463,3414,1423,999,887,1351,1582,348,14255,1250,3828,517,1991,2880,1298,115,922,239,13039
70103,818,465,2547,582,264,224,907,821,163,6795,589,904,277,633,1362,447,108,356,86,4763
70104,1024,876,2834,1170,585,457,1158,985,233,9310,783,1511,360,1287,2305,927,122,538,146,7985
70201,1079,1316,1501,1226,436,387,578,936,241,7712,778,2188,287,1509,1562,626,55,501,133,7636
70202,136,125,155,154,41,31,55,211,34,940,91,206,42,174,158,46,3,74,26,819
70203,292,410,345,225,92,61,229,321,126,2102,196,458,84,392,290,132,29,180,101,1852
70204,209,374,407,196,81,45,252,198,94,1855,144,514,43,353,310,127,32,115,59,1689
70205,448,465,742,417,148,123,305,485,136,3278,302,726,137,587,555,215,37,216,91,2870
79797,0,4,8,0,0,0,0,10,0,22,0,0,0,0,0,0,0,3,0,4
79999,19,37,88,28,10,15,51,62,7,320,18,68,23,54,26,17,11,39,5,252
80101,3761,6562,4365,2099,2565,1460,1177,1930,658,24586,2924,7134,878,3414,5642,2071,90,830,525,23504
80103,44,37,69,31,16,8,39,48,13,305,38,35,13,24,42,19,3,27,3,205
80104,3593,5651,3310,1621,2044,1190,732,1323,549,20006,2378,5446,695,2701,4744,1741,62,604,428,18794
80105,3070,5376,1232,1269,1343,618,237,838,377,14354,2261,5259,409,1626,2281,929,24,472,284,13546
80106,1792,2945,519,448,667,335,124,228,189,7252,1343,3010,131,574,1336,381,11,113,182,7088
80107,3574,4809,4694,1750,2458,1330,1519,1833,680,22647,2702,5498,794,3180,6603,2052,125,758,548,22257
80108,1032,1657,816,387,525,249,192,324,124,5310,841,1874,176,607,1283,365,23,150,118,5425
80109,1677,2910,987,684,843,480,271,515,208,8579,1229,3286,246,968,1687,540,25,245,174,8401
80110,252,510,202,105,138,78,30,55,24,1393,174,588,28,126,363,84,3,22,36,1427
80111,46,28,46,16,8,8,6,16,3,179,31,44,10,30,37,8,0,0,3,158
89797,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
89999,12,22,13,9,5,10,4,14,9,102,5,27,3,27,20,6,0,3,0,101
90101,65,30,135,58,27,0,94,73,20,502,40,52,12,53,76,13,12,55,3,321
90102,21,16,29,4,11,0,19,33,4,133,9,16,4,25,16,9,0,5,3,92
90103,30,14,13,15,0,0,4,3,3,84,11,10,0,16,8,3,0,3,0,48
90104,85,44,155,23,16,30,35,61,11,459,87,63,33,94,98,76,0,61,6,512
99797,0,0,0,0,0,0,0,4,0,3,0,0,0,0,0,0,0,0,0,0
99999,0,0,0,0,0,0,3,0,0,8,0,3,0,4,0,0,0,0,0,8